Analysis/Data
Analysis/2018
Analysis/2019
Analysis/2020
Analysis/2021
Analysis/2022
Analysis/2023
Analysis/2024
Analysis/analysis_v21.ipynb
Analysis/analysis_v31.ipynb
Analysis/analysis_v41.ipynb
Analysis/Daily_2018.csv
Analysis/daily_2019.csv
Analysis/Daily_2020.csv
Analysis/daily_2021.csv
Analysis/daily_2022.csv
Analysis/daily_2024.csv
Analysis/interpolated.csv
Analysis/monthly_2018.csv
Analysis/monthly_2019.csv
Analysis/monthly_2020.csv
Analysis/monthly_2021.csv
Analysis/monthly_2022.csv
Analysis/monthly_2023.csv
Analysis/monthly_2024.csv
Analysis/sorted_df.csv
Analysis/nairobiAirQuality.ipynb
Data
Analysis/aggregated_data.csv
Analysis/aggregated_data_2018.csv